[2017-03-05 16:04] gottfrois opened #1 "Docker image"
Hey there,

Wanted to give a quick spin to this projet but not sure what's the way to go?
I can't find a docker image hosted on Docker Hub, is there one? Or should I build the docker image myself? If so, can you provide some guidelines?

Thanks

[2017-03-05 18:52] asobti commented on #1
Yeah , I haven't hosted an image on Docker hub, but you should be able to build your own fairly easily. Take a look at the Building, Configuring and Deploying sections of the [Readme](https://github.com/asobti/kube-monkey/blob/master/README.md)

[2017-03-06 09:34] gottfrois commented on #1
Thanks for the quick answer. Unfortunately the building step does not work due to bad references in the codebase:

[code]

[2017-03-07 01:41] asobti commented on #1
Did some testing, and apparently Go isn't looking for dependencies in the right places (`vendor/`) unless you clone the project within your Go path. Could you try this:

[code]

[2017-03-07 08:33] gottfrois commented on #1
looks good thx

[2017-03-07 08:33] #1 closed

[2017-07-13 09:03] gekart opened #3 "Some improvements"
Nice work. How about setting MTBF to seconds rather than days. Since currently it is an integer, you can't go below daily restarts.

You should also consider whitelisting namespaces.

Why are you setting mbtf on a label rather than in the config map?

When killing pods, it would be nice to know their replication scale to find out their kill frequency.

[2017-07-13 22:10] asobti commented on #3
Having a termination frequency in seconds feels out of scope of the intention of this project. The idea of Kube Monkey (really, Chaos Monkey) is to simulate failure scenarios in a production environment. Having failures occur every few seconds will be counter-productive.

Currently Kube Monkey works only on an opt-in basis so having a Whitelist has limited benefits. I do like the idea of allowing

[2017-08-16 20:50] valtsi opened #4 "Client Connectivity"
I'm currently attempting at getting kube-monkey up and running on a kubernetes cluster, and I keep getting an error stating:

`panic: Unable to verify client connectivity to Kubernetes server`

Any ideas or suggestions on what's going wrong and how to fix it?
Thanks.

[2017-08-17 01:24] asobti commented on #4
Are you using a VIP in front of your API server? I've noticed this as well and I think the solution might be to allow manually specifying the location for the apiserver, and not using the one from the in-cluster config file.

[2017-08-17 18:39] haithkris opened #5 "whitelisting suggestion"
Is there a possibility to add a whitelist to the kube monkey configuration? It could be exclusive with blacklisting. You either do the first or the second one. I find whitelisting better to deal with if you manage a lot of namespaces.

Thank you

[2017-08-17 22:17] asobti commented on #5
Are you thinking of a scenario where all deployments within the whitelisted namespaces will be enrolled into Kube monkey? We'd have to figure out a way to specify parameters like MTBF etc. in this case.

An alternative way to do that would be instead of opting in deployments, maybe there could be an option to opt-in namespaces instead (by adding the kubernetes labels to them).

In either case, thi

[2017-08-17 22:33] valtsi commented on #4
I did some more research & testing, and seem to have figured out a solution.

First, I changed the error check after the inClusterConfig call in [kubernetes.go](https://github.com/asobti/kube-monkey/blob/5244bc4629e086dcd26204bda9921f5388439e71/kubernetes/kubernetes.go#L9) to print the error, to try and see what exactly was failing. Examining the logs after running, I received a `panic: Get https:

[2017-08-17 22:40] asobti commented on #4
Yeah, I figured this would be causing it. I'm currently working on a commit to allow you to override the host field of InClusterConfig via a kube-monkey configuration. I"ll re-open this Issue for now. Thanks for digging into it.

[2017-08-18 00:36] #4 closed

[2017-08-18 00:56] asobti commented on #4
@valtsi You should be able to configure kube-monkey to use a different host URL now by adding the following to the config file:

[code]

On start-up, kube-monkey will log a message indicating that the API server has been overriden.

[2017-08-23 16:27] pswenson opened #7 "pod error: panic: open /usr/local/go/lib/time/zoneinfo.zip: no such file or directory"
I tried building and deploying the projecto k8s and I get this error in the pod logs:

[code]

Any ideas?

[2017-08-23 18:01] DavidPesticcio commented on #7
Wherever you are running `kube-monkey` it seems to need the `zoneinfo.zip` file in different places -
this appears to be dependant on your `GOROOT` environment variable setting... this will also be true inside the container - if you're going that far. :-)

Try;
`zip /usr/local/go/lib/time/zoneinfo.zip /usr/share/zoneinfo/`

Substitute `/usr/local/go/lib/time/zoneinfo.zip`, above, according to the

[2017-08-23 18:05] valtsi commented on #7
This error is coming from kube-monkey being unable to find the timezone file that [LoadLocation in the Go time package](https://golang.org/pkg/time/#LoadLocation) needs, since the default timezone is "America/Los Angeles". An alternative to creating the timezone file, is to use either the UTC or Local timezones. Those timezones are natively known.

[2017-08-23 18:33] asobti commented on #7
kube-monkey could default to the local timezone in case of this error, although I feel that's more dangerous as we really don't want to be scheduling pods to be killed at unexpected times. I think panicking in this situation might be the outcome of least surprise.

[2017-08-23 18:36] pswenson commented on #7
changing the Dockerfile to `FROM golang:1.7.5-alpine` seems to resolve the issue.... any reason why this isn't a good solution?

[2017-08-25 00:08] asobti commented on #7
@pswenson What timezone are you using that causes that error?

[2017-08-25 16:31] EIrwin commented on #5
We too had discussed the preference of configuring `opt-in` vs `opt-out`. The cluster we would like to run this on has feature namespaces provisioned sometimes on daily basis in which case, we likely would not want to disturb  those. This would also require us to constantly update the blacklisting of namespaces, versus explicitly saying which namespaces to run it against. I might look into branchi

[2017-08-30 06:09] asobti commented on #5
@EIrwin I'm all for having an opt-in option. I just haven't figured out the best way to handle configurations like MTBF etc in this case. Perhaps we could use a system where you globally set the mode to `opt-in` and specify some global value for MTBF. individual deployments can then override this value.

I'll take a look at this but if you do end up forking and implementing this, do ping me and I'

[2017-08-30 06:22] asobti commented on #3
Closing since I haven't heard back. Feel free to re-open if you have a follow up.

[2017-08-30 06:22] #3 closed

[2017-08-30 14:44] EIrwin commented on #5
@asobti that was similar to the approach I have started implementing. The first iteration could simply use a `opt-in` bool along with a global `MTBF` to be used. In later iteration(s), this could be extended to allow individual deployments to override this value.

[2017-08-30 16:42] asobti commented on #5
Sounds good. I'll hold off on working on this for now in that case so we're not repeating the same work.

[2017-08-31 09:07] MarkDcc opened #9 "mtbf"
Can i set kube-monkey/mtbf = "0.01",Or mtbf must with int value?

[2017-08-31 09:12] MarkDcc commented on #7
You may try to set time_zone="UTC" .

[2017-08-31 18:55] asobti commented on #9
`mtbf` must be an integer.
https://github.com/asobti/kube-monkey/blob/master/deployments/deployments.go#L57

See https://github.com/asobti/kube-monkey/issues/3 for a discussion on it

[2017-08-31 18:55] #9 closed

[2017-09-04 10:13] MarkDcc commented on #9
Thank you for you answer and thank you very much for you job.Now, we found your mtbf interval is day,and this is hard code?Or where can i find set about mtbf interval ?

[2017-09-04 14:09] janwillies commented on #5
Facing the same use-case. We have a shared cluster and there's no way for us to know all the namespaces to blacklist.

Maybe another idea is to have kube-monkey run per namespace? Or limit via RBAC rules?

[2017-09-07 06:55] YuxiJin-tobeyjin commented on #7
I also get stuck on this problem. Here is one solution for me ,maybe can give some help.
1)use "docker run -itd kube-monkey:v0.1.0 /bin/bash" to run a container
2)use "docker ps" to get its containerid
3)use "docker exec -it {$containerid} bash" to enter into the container
4)run "ll /etc |grep localtime" in the container and you will find it links to someplace:
localtime -> /usr/share/zoneinfo/Etc

[2017-09-08 09:05] YuxiJin-tobeyjin opened #10 "Consider to support some other k8s controllers(rc、daemonset etc.)"
Really very good job，sir.
I‘ve made some practice in my kubernetes cluster.I found kube-monkey only kill pod under deployment.I've created some pods under rc and taged with kube-monkey tag as I used in my deployment.It seemed that kube-monkey don't have any impact on pod under rc.
Sir，do you have a plan to support some other k8s controllers(rc、daemonset etc.) ,this will make kube-monkey much more

[2017-09-09 01:30] asobti commented on #10
Yeah, kube-monkey does not target RCs. I chose to go with Deployments since that is now the recommended way instead of replication controllers.

Daemonsets are a good idea. I'll look into that.

[2017-09-29 18:49] Spellchaser opened #12 "Failed to verify Kube ApiServer Access"
**Problem**
Output of kubectl logs
[code]
**Environment**
Trying to run kube-monkey in a kube cluster that is behind a firewall hence no auth configured.
This error could be because I'm running v1.5.2 of kubernetes.

Is there any reason not to upgrade the kubernetes/client-go version?
[code]

**Debugging**
Tracing the error goes to
https://github.com/asobti/kube-monkey/blob/master/kubernetes/kuber

[2017-09-29 18:57] asobti commented on #12
Hmm, interesting. I haven't seen an environment where `serviceaccount/token` is not generated. It might be possible to make unauth access a config.

Regarding client-go upgrade - no reason not to. I just haven't had a chance to test a newer version yet.

[2017-10-03 02:01] #7 closed

[2017-10-23 17:20] Spellchaser commented on #12
So this isn't an issue with kube-monkey per se, but rather with kubernete's client-go. AFAIK they're only supporting authenticated clusters. I've opened up an [issue ](https://github.com/kubernetes/client-go/issues/314) with them, but this may be avoidable depending on however client-go actually connects and talks to the kube apiserver.

For anyone curious who might also be running an unauthentica

[2017-10-23 17:26] Spellchaser commented on #12
Unfortunately after enabling service account tokens, it also expects the certificates as well...

[code]

[2017-10-23 17:40] Spellchaser commented on #12
While I was setting up km, I ran into errors that were annoying since assumptions of the configuration wasn't explicitly stated. Maybe a more experienced kubernetes admin wouldn't have problems, but I think it'd be helpful. They're kinda duhs but I guess I'm the idiot user systems need to be foolproofed for.

1. The config map must be created before even attempting to deploy km.
2. The config map,

[2017-10-24 17:27] Spellchaser commented on #12
Aha! I think I've figure out how to make this work.

If you're running an unauthenticated server and using cluster dns, then by disabling the InClusterConfig and pointing to the insecure API server url to the dns ip/port.

To support this very special case... it's require a bit of editing of the InClusterConfig part or handle the error. One approach was to "check" if the server was not using TLS h

[2017-10-26 13:22] Spellchaser opened #17 "Bug: Reloading configmap for KM"
# General Description:
When the config file on the pod changes, KM should use the new configs. Referencing https://github.com/asobti/kube-monkey/blob/master/config/config.go#L46

## How to Diagnose Problem:

1. Have debugging and dry run turned on:
[code]
Have kube-monkey running and a test deployment/pod. ex:
[code]

2. Edit the config file directly with `kubectl edit cm/cm-config-map` or edit th

[2017-10-29 21:56] Spellchaser commented on #12
So the custom configuration basically used the same example code from https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/doc.go

The custom configuration was supported in client-go 1.5 as well so I imported the corresponding lib.

https://github.com/asobti/kube-monkey/pull/19

[2017-11-07 18:56] neverfox commented on #10
So does this mean it won't work with StatefulSets?

[2017-11-07 19:23] asobti commented on #10
Correct, it won't work with StatefulSets today. That is also a feature worth adding

[2017-11-07 21:29] neverfox commented on #10
How hard is something like that to add? I'm not a Go master, but if it's straightforward, I could perhaps do a PR.

[2017-11-09 21:58] asobti opened #21 "Fix Termination time format"
Currently, termination time is logged to microseconds granularity along with monotonic clock reading.

[code]

See https://golang.org/pkg/time/#Time.String

Suggested fix:

[2017-12-05 15:43] KITSDanMassie opened #22 "Permissions required by kube-monkey?"
What permissions does kube-monkey require to run? I am trying to run it in a cluster with RBAC enabled and have assigned a service account with the below cluster role to the container:

[code]
kube-monkey runs, but fails to delete any pods as it is unable to see the running pods for any deployment:

[code]

This is in a 1.7.11 cluster, could it be due to incompatibilities with the client lib?

[2017-12-05 19:41] asobti commented on #22
Have you confirmed that `my-api` has Pods in the `Running` state? If yes, then it seems to be a permissions issue fetching the list of pods.

I unfortunately do not have an RBAC cluster at my disposal to test/repro this. Is there a way for you to give `kube-monkey` ALL permissions to verify if that resolves the issue?

This is quite possible too. The version of client-lib used by kube-monkey does

[2017-12-06 10:45] KITSDanMassie commented on #22
Figured it out. It seems its due to the monkey-victim example missing labels. The RBAC permissions above are sufficient.

The deployment needs labels in addition to the spec template.

[code]

[2017-12-07 14:45] cfontes opened #23 "Timezone is not working on the configmap"
I am trying to set the internal timezone of the scheduler for my own like this

[code]

As I saw in the code that it is there, but it is not working...

It's always like this

`I1207 15:47:29.649440       1 kubemonkey.go:26] Generating next schedule at 2017-12-07 08:00:00 -0800 PST`

So time is in time format but the scheduler is not

Changing the default in the code and recompiling it woks so tha

[2017-12-21 12:45] ChristofferNicklassonLenswayGroup commented on #23
We where forced to do the same solution.

[2017-12-21 22:53] caipre commented on #23
@cfontes @ChristofferNicklassonLenswayGroup the key is `time_zone`: https://github.com/asobti/kube-monkey/blob/de1961680b2e0d5c74947c9e14217554ef0740d2/config/param/param.go#L10-L13

[2017-12-26 22:22] Spellchaser commented on #23
@asobti Please close this issue :)

[2017-12-26 23:06] Spellchaser commented on #21
Do you mean to format it without the granularity?
`glog.V(4).Infof("\t%s\t\t\t%s\n", chaos.Deployment().Name(), chaos.KillAt().Format("01/01/2017 18:42:05 Z0700 UTC"))`

[2017-12-27 22:04] Spellchaser opened #26 "Deleting entire deploy does not error if no pods avail"
Expected behavior:
I expect just as if deleting one pod to get the error message:

Currently it deletes the counter and does not complain. Sample output:
[code]

[code]

[code]

[2018-01-01 21:44] Spellchaser commented on #21
Just formatting will output UTC all the time. There's some inconsistencies with how time is printed in the code. In some places, time.In(config.Timezone()) is used while in other places it uses the system local time which usually defaults to UTC.

This also means issue https://github.com/asobti/kube-monkey/issues/23 is valid since termination times are not printed in the configured timezone.

Happ

[2018-01-03 00:50] Spellchaser commented on #26
Found the problem... TerminateAll uses Pods, not RunningPods. Unless terminate all should delete pods not ready?

[2018-01-16 13:54] ksala opened #35 "golang.org/x/sys in glide.lock too old?"
Hi,

I've tried to clone and compile kube-monkey but get this error:
[code]

As a fix I've just changed the commit used for golang.org/x/sys (https://github.com/golang/sys/commit/9a2e24c3733eddc63871eda99f253e2db29bd3b9) to the latest one to date (https://github.com/golang/sys/commit/fff93fa7cd278d84afc205751523809c464168ab).

Not sure if it's something on my side, or just a wrong dependency.

[2018-01-16 23:55] asobti commented on #35
Did updating that dependency fix the issue for you?

If possible, could try a fresh clone of the repo and run `make build` *without* running `glide install...` ? All dependencies are checked in to the tree, so just a clone should be sufficient.

[2018-01-17 11:02] ksala commented on #35
Yes, updating the dependency fixed the issue, sorry if I was not clear.

And yes, just a "clone && make build" did work. I guess just the glide.lock it's not updated? I saw it and thought I had to pull the dependencies.

[2018-01-23 22:44] Joeskyyy opened #37 "panic: ./kube-monkey flag redefined: log_dir"
Hey there!

I've tried following the instructions explicitly on the README, but unfortunately I keep hitting an interesting blocked, that I *think* may be tied to some circular dependencies in glog (I'm a super novice at Go, admittedly).

In my error log I get the following:

[code]

This is before even trying to run it in k8s, and just running it locally, but we saw the exact same issues when run

[2018-01-23 22:48] asobti commented on #37
Interesting. I actually had this issue the first time I tried to implement logging using `glog`, which is why I had abandoned the attempt then.

@Spellchaser any ideas?

[2018-01-23 23:27] Spellchaser commented on #37
Glide doesn't seem to update properly and since master still uses client-go 1.5, there's dependencies that break if you try to update properly. If you were to build the dependencies from scratch -
[code]
It'll break, even if you set version of client-go to 1.5 and do all sorts of glide trickery.

Verified that master isn't building at the moment.
I think your glide update didn't strip vendor and t

[2018-01-23 23:38] Spellchaser commented on #37
tl;dr glide sucks, client-go version is too old

I don't think it's productive to try to fix the glide issue since my client-go update PRs fix this. I'm not sure when master broke but it must have been before we started messing with glide.

I know a former commit of master worked and I just verified my fork builds and works from a complete scratch vm.

[2018-01-23 23:50] Joeskyyy commented on #37
@Spellchaser 👍 I tried to build your fork actually earlier haha, I was having much of the same issue, let me try again to verify for you with a clean slate.

[2018-01-23 23:56] Joeskyyy commented on #37
Confirmed it works in your fork now @Spellchaser with your new directions (thank you very much for that!). Small missing piece, need to `cd` into `kube-monkey.git` after the clone (:

Thanks to you both for the super fast responses! Gonna close this in favour of awaiting changes, for now I'll build from the fork.

Would still be awesome to have verified, and shipped images to docker hub if you eve

[2018-01-23 23:56] #37 closed

[2018-01-24 00:14] Spellchaser commented on #37
Ahh yes... it's totally omitted to avoid straight copy pasta ;)

[2018-01-24 00:31] asobti commented on #37
@Joeskyyy Agreed on the docker hub images.

Once I work through all of @Spellchaser's PRs, I'll build and publish an image

[2018-01-24 16:46] Spellchaser commented on #21
I think this issue is resolved!

[2018-01-24 16:46] Spellchaser commented on #12
Woo! All done

[2018-01-24 16:46] #12 closed

[2018-01-24 16:47] Spellchaser commented on #26
X-post from #32
This is irrelevant now, but I think documentation should specify what kill-all actually does
1. if kills all pods regardless of running or just running pods
3. if it should report errors if no pods are running anyways

[2018-01-24 17:10] Spellchaser commented on #10
Should be trivial to add now. Go nuts.

[2018-01-25 22:05] #35 closed

[2018-01-25 22:10] #21 closed

[2018-02-12 09:07] ChristofferNicklassonLenswayGroup commented on #23
i just pulled latest  and still it prints PST.
![skarmbild fran 2018-02-12 10-07-20](https://user-images.githubusercontent.com/33247910/36089496-8bd6437a-0fdc-11e8-8064-42deabcafbc6.png)

[2018-02-21 22:18] alberttwong opened #40 "Has anyone tried to deploy this on OpenShift?"
Just curious.....

[2018-02-21 22:19] #22 closed

[2018-02-21 22:20] asobti opened #41 "Add unit tests"
Please

[2018-02-22 02:57] sudarshntn opened #42 "Failed to fetch eligible deployments for namespace whereas the namespace exists"
I0221 03:49:36.201590       7 kubemonkey.go:24] Status Update: Generating next schedule at 2018-02-22 00:00:00 +0530 IST
I0221 18:30:00.000194       7 schedule.go:54] Status Update: Generating schedule for terminations
W0221 18:30:00.015033       7 factory.go:44] Failed to fetch eligible deployments for namespace cam-km due to error: User "system:serviceaccount:cam-km:default" cannot list deployme

[2018-02-22 03:16] asobti commented on #42
Appears to be a permissions issue. What namespace is kube-monkey running under and what permissions does it have?

[2018-02-22 03:47] sudarshntn commented on #42
The kube-monkey app is also running in the same namespace. We have our own namespace called cam-km. The config details in the configmap is as below:
---
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: kube-monkey-config-map
    namespace: cam-km
  data:
    config.toml: |
      [kubemonkey]
      # Terminations are only logged
      dry_run = true
      # Run scheduling at 8am on weekdays

[2018-02-23 04:52] sudarshntn commented on #42
Hi Any update or suggestions?

[2018-02-26 14:28] sudarshntn commented on #42
Any suggestion I have now moved it to the kube-system namespace also. How do we set the namespace permission

[2018-02-27 05:00] sudarshntn commented on #42
Got it working by moving the kube-monkey pod from my namespace to kube-system namespace. So the kube-monkey pod and config map needs to be part of the kube-system namespace than being part of our namespace.

[2018-02-27 05:00] #42 closed

[2018-02-27 05:03] sudarshntn commented on #23
The values given in this page works as I have used the Asia values from here and it worked. Just a FYI.
https://golang.org/src/time/zoneinfo_abbrs_windows.go

[2018-02-28 05:42] asobti commented on #42
Sorry for not responding sooner.

The kube-monkey deployment and config map definitely need to be in the same namespace, but I'm not sure why it didn't work when it was in the same namespace as your app. I assumed the default user in the namespace has all access to objects within the namespace, but maybe that assumption was wrong.

[2018-03-01 11:13] camilocot commented on #41
Hi, @asobti, I would like to help to add UT, could you guide me with the packages that I should start with, any coding norms, suggestions (I am a newbie with Golang) ...?

Thanks for this wonderful tool !!

[2018-03-15 01:59] asobti commented on #23
Does not appear to be an issue anymore. Closing.

[2018-03-15 01:59] #23 closed

[2018-03-19 13:11] i0natan opened #47 "Need immediate chaos"
It could have been nice, if this tool can perform quick chaos over a short and immediate priod of time. Our team wants to test the app resiliency in 20min/1 hour, not to wait the whole weak long before drawing conclusions.

[2018-03-20 01:03] asobti commented on #47
@i0natan You can configure the time window when kube-monkey kills pods. Say, you configure kube-monkey to build a schedule at 10am and kill pods between 10.05am and 10.30am. Would that work?

[2018-03-20 07:50] i0natan commented on #47
that will work but couldn't find within the docs exact timing for killing pods, can you kindly refer to it?

[2018-04-12 11:29] camilocot commented on #47
@i0natan the schedule settings are detailed in the [configuring](https://github.com/asobti/kube-monkey#configuring) section

[2018-05-09 18:08] osmancis commented on #40
I did!

[2018-05-10 12:27] jpds opened #61 "Prometheus metrics endpoint"
It would be great if kube-monkey could expose a metrics endpoint with values for things it has done.

[2018-05-14 16:56] Spellchaser commented on #17
Unavailable until upstream merges https://github.com/spf13/viper/pull/415

[2018-05-14 18:57] asobti commented on #41
We're in pretty decent shape wrt to unit tests now. Tests should, obviously, continually be added, but I think this Issue has served its purpose.

Thanks to all who contributed tests.

[2018-05-14 18:57] #41 closed

[2018-05-16 18:03] BBQBallen opened #63 "Helm chart?"
Adding helm support would help adoption of this great project.  Any work started here yet?

[2018-05-17 12:54] BBQBallen commented on #63
Created a PR for this https://github.com/asobti/kube-monkey/pull/64

[2018-05-17 14:41] stuart-warren opened #65 "Allow setting config options with environment variables"
viper should allow using environment variables

https://github.com/spf13/viper#working-with-environment-variables

[2018-05-17 20:51] asobti commented on #63
Fixed by #64. Thanks @BBQBallen

[2018-05-17 20:51] #63 closed

[2018-05-18 14:30] #26 closed

[2018-05-18 19:04] asobti commented on #65
This would be good and should be an easy one. I'll take a look when I get a chance

[2018-05-21 18:51] asobti commented on #10
Closing this ticket now. We support a lot of other deployment-types now. if there is a specific one missing that you need, please file a new Issue for it.

[2018-05-21 18:51] #10 closed

[2018-06-04 22:48] yao-xu commented on #47
@camilocot @i0natan Can you kindly clarify a little more? Can `run_hour`, `start_hour` and `end_hour` be float or format like 08:10? I tried to edit the configuration file or config map to get immediate chaos. I tried `run_hour=8.10` and `run_hour=8:10`. With the former one, kube-monkey still runs at 8am instead of 8:10am; with the latter one, it just crashed.
Thanks

[2018-06-04 23:27] yao-xu opened #70 "api v1 is invalid for older k8s versions"
I got an error called `Failed to fetch eligible deployments for namespace testns-ns due to error: the server could not find the requested resource`.
The configmap, deployment, pod and victims are all in namespace testns-ns.

Details of logs are shown below

[code]

Details of configmap is shown below

[code]

[2018-06-07 15:54] Spellchaser commented on #70
It's trying to contact `host="https://your-apiserver-url.com:apiport"`
That's an invalid host

[2018-06-18 21:34] marscser commented on #70
Meet the samething on my setup, with k8s version 1.7.4
W0618 18:51:15.155671       1 factory.go:45] Failed to fetch eligible deployments for namespace default due to error: the server could not find the requested resource

**This is my config-map config:**
---
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: kube-monkey-config-map
    namespace: default
  data:
    config.toml: |
      [ku

[2018-06-18 21:43] Spellchaser commented on #70
Can you verify that you can hit your apiserver from within your victim deployment? Something like `curl localhost:8080/apis/extensions/v1beta1/deployments`

Also if you can post what version you're using for the deployment that would help. That's the apiversion for the victim deployment

[2018-06-19 02:34] marscser commented on #70
@Spellchaser Thanks for the reply.

Here is the victim deployment api version.
apiVersion: extensions/v1beta1

I'm running RBAC and have add a cluster_admin role to the serviceaccount kube-monkey is using.
Also tried to use the override proxy, same error.
I0619 02:26:26.430684       1 kubernetes.go:44] API server host overriden to: https://10.96.0.1:443
W0619 02:26:26.448008       1 factory.go:45]

[2018-06-19 06:36] marscser commented on #70
I've tried following command in kube-monkey pods and it does return the deployment.
curl -ik -H "Authorization: Bearer $(cat /var/run/secrets/kubernetes.io/serviceaccount/token)" https://10.96.0.1:443/apis/extensions/v1beta1/deployments

Not sure why the kube-monkey report the error inside the container.

[2018-06-19 06:52] marscser commented on #70
Just find if I replace the "v1beta1" with "v1", returns exactly the same error msg.

HTTP/2 404
content-type: application/json
content-length: 206
date: Tue, 19 Jun 2018 06:47:08 GMT

{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "the server could not find the requested resource",
  "reason": "NotFound",
  "details": {},
  "code": 404

And I foun

[2018-06-19 15:45] Spellchaser commented on #70
Mhm when those were merged, I was wondering if it would break any older k8s versions that still had deployments in v1beta1. Good to know it wasn't an authentication problem. I'm going to leave this open to address the issue.

If you'd like to make PRs :) Supporting older versions is better than moving to api v1 and not using any new features.

[2018-06-19 20:28] yao-xu commented on #70
@marscser I tried to replace v1 with v1beta1 too, and I got errors
`undefined: "k8s.io/apimachinery/pkg/apis/meta/v1beta1".ListOptions`
`undefined: "k8s.io/apimachinery/pkg/apis/meta/v1beta1".GetOptions`
Could you tell me how did you resolve these problems?

[2018-06-20 21:52] nsidhaye opened #74 "Failed to generate NewInClusterClient: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory"
Facing issue while running kube-monkey on our kube cluster.

Error Log:
[code]

Not sure this is configuration related problem or something else.

configmap.yaml

[code]

deployment.yaml
[code]

We are using insecure bind address in api server.

`KUBE_API_ADDRESS="--insecure-bind-address=0.0.0.0"`

Even I tried with adding `ServiceAccount` in KUBE_ADMISSION_CONTROL but that worsen the problem so I

[2018-06-21 18:17] oahayder opened #77 "Support for services/replica sets"
Looking at the code, it seems this only supports labelling Deployments as victims: https://github.com/asobti/kube-monkey/blob/6a1c7df307481dd9165a54b0e27d2c244b283be2/victims/factory/deployments/eligible_deployments.go#L50

Any plans to support services/replica sets? Is there a workaround if we don't use deployments?

EDIT: I thikn I can just add the label selector to pods and have it work, is tha

[2018-06-21 20:02] asobti commented on #77
kube-monkey currently supports Deployments and StatefulSets. Daemonsets support is still missing.

I chose not to support replica sets as Kubernetes recommends using Deployments over Replica sets

https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/

As for Services, a Kubernetes service is merely a load balancing tool, and does not have any pods, so kube-monkey cannot target a se

[2018-06-21 20:10] oahayder commented on #77
@asobti thanks for the quick response. Love the idea with this tool.

I agree deployments are preferred however our current production env uses RS. And I would like to avoid taking on the task of migrating. This is mostly due to us deploying via spinnaker where RS are the preferred targets.

Thanks for the answer 👍

[2018-06-21 20:10] #77 closed

[2018-06-23 07:40] marscser commented on #70
Don't change the meta version. Just replace the app version to v1beta1 in
deployment.go . And replace AppsV1 to AppsV1beta1 in eligible_deployment.go

On Tue, Jun 19, 2018 at 1:28 PM yao-xu <notifications@github.com> wrote:

[2018-06-25 16:24] Spellchaser commented on #74
Service account tokens are created internally by k8s. This problem is outside of kube-monkey. Verify your cluster is creating service account tokens for other pods. Do you have the Service Account Admission Controller active.

If your heapster config is using `http://localhost:8080?inClusterConfig=false` I would guess the corresponding config here should be not just be `host="http://localhost:8080

[2018-07-03 18:19] pawarmanoj commented on #47
As a workaround, configuring debug mode in the config.toml will schedule the execution of kube-monkey runs every 'schedule_delay' seconds. For execution every 30 seconds, i configure it as below.
`[debug]
enabled = true
schedule_delay=30
force_should_kill = true
schedule_immediate_kill = true`

[2018-07-03 18:19] pawarmanoj commented on #47
[debug]
enabled = true
schedule_delay=30
force_should_kill = true
schedule_immediate_kill = true

[2018-07-03 18:39] pawarmanoj opened #78 "config whitelist_namespaces required"
I have configured kube-monkey in the kube-system namespace. The kube-monkey pod, deployment, replica-set and config are all seen in good health on the kubernetes dashboard.

`$ sudo nano /etc/kube-monkey/config.toml`
`[kubemonkey]`
`dry_run = false`
`run_hour = 9`
`start_hour = 10`
`end_hour = 18`
`graceperiod_sec = 120`
`blacklisted_namespaces = ["kube-system","kube-chaos"]`
`time_zone = "Asia/Ko

[2018-07-03 18:43] asobti commented on #78
@Spellchaser Could this be caused because no `whitelisted_namespaces` are specified?

[2018-07-04 05:58] pawarmanoj commented on #78
Thanks a lot @asobti
I didn't realize that both the `blacklisted_namespaces` and `whitelisted_namespaces` would need to be specified for proper operation.
And is there a way to quickly refresh kube-monkey to pick up the updated config map? Currently I am deleting the existing kube-monkey pod, so the restarted pod picks up the updated config.

[2018-07-04 08:42] Spellchaser commented on #78
From beyond the Great Firewall, there is no way to restart easily. There's
an open issue about the viper not following symlinks.

I thought the configs should automatically put in a default whitelist all
if it's not added, but I'd have to check the code.

On Wed, Jul 4, 2018, 1:58 PM pawarmanoj <notifications@github.com> wrote:

[2018-07-04 08:43] Spellchaser commented on #47
This is as intended for immediate chaos. If it's unclear in the docs, a PR
is welcome.

On Wed, Jul 4, 2018, 2:19 AM pawarmanoj <notifications@github.com> wrote:

[2018-07-05 05:29] asobti commented on #78
@pawarmanoj Can you try adding `whitelisted_namespaces = []` in your config file.

[2018-07-05 05:30] asobti commented on #78
Regarding hot-reload of configs, as @Spellchaser mentions, its a known bug that requires an upstream fix in vip. See #17

[2018-07-05 08:40] pawarmanoj commented on #78
Yes, after adding `whitelisted_namespaces = []` in the config file, kube-monkey is successfully able to terminate the pods that have opted-in for termination. thanks again @Spellchaser and @asobti

[2018-07-06 23:02] asobti commented on #78
@Spellchaser leaving this open for now until you can confirm whether needing to specify `whitelisted_namespaces = []` to disable the whitelist is a bug or intended behavior

[2018-07-07 05:13] Spellchaser commented on #78
Definitely not intended behavior, not having it should work. Will check on
Monday.

On Sat, Jul 7, 2018, 7:02 AM Ayush Sobti <notifications@github.com> wrote:

[2018-07-09 09:10] dcuestam opened #80 "No terminations scheduled issue"
Hi, I have been some days trying to use kube-monkey in order to kill pods of a namespace but all the tries are not being succesfull. Every time I try a configuration, I receive the next message :
	********** Today's schedule **********
No terminations scheduled
	********** End of schedule *********

I don't understand what is happening, those are my configuration files:

deployment.yml:

[code]
An

[2018-07-09 11:07] gzlatkov opened #81 "Bug in random-max-percent calculation"
I believe there is a bug in:
https://github.com/asobti/kube-monkey/blob/e1052dfc639814fdc9919519eb38d82b8e7155e7/chaos/chaos.go#L125

According to the `README`, `killValue` should be between 0-100. Therefore, the value passed to `DeleteRandomPods` will be between 0 and 10,000 (`100*100/(0+1)`).

Example:
https://play.golang.org/p/c0z6RijiR1D

Think one way to calculate the correct value is:
[code]

[2018-07-09 11:16] gzlatkov commented on #80
Hi @dcuestam,

Can you please post an example of a k8s app configuration you are using? Do you have any/correct labels set?

From what you posted, I believe you may be setting the labels on the `kube-monkey` deployment instead of on the k8s apps you want to enlist in the chaos.

Also adding labels to the `kube-monkey` deployment should enlist it for chaos (not sure about that, haven't tested). Whi

[2018-07-09 12:16] dcuestam commented on #80
Hi @gzlatkov,

thank you for your help,

This is the configuration of some nodes of the ignite deployment:
<img width="1366" alt="captura de pantalla 2018-07-09 a las 14 10 11" src="https://user-images.githubusercontent.com/36133262/42449665-d8cd6c6c-8381-11e8-860f-09eefcc6ff70.png">

This is the YAML:
{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "ignite-3",
    "generateNa

[2018-07-09 14:34] #80 closed

[2018-07-09 14:35] dcuestam commented on #80
I just fixed it adding the labels to the metadata of the StatefulSet too, and deleting the labels in the kube-monkey deployment.

[2018-07-09 20:50] asobti commented on #80
Thanks for helping him out @gzlatkov

[2018-07-09 21:08] asobti commented on #81
@gzlatkov Thanks for catching this. This does seem like a bug. A PR would be really appreciated.

A couple of thoughts:
1. Instead of `math.Round()`, lets do `math.Floor()` instead so we never over-kill pods. So, with `n=3` and `killValue=50`, we should never kill 2 pods.
2. I'm not sure what the best way to get the number of pods in `chaos.go` is. That info isn't already available there, so it wi

[2018-07-09 21:49] Spellchaser commented on #78
Found the issue: `    "namespace": "chaos-sandbox",`
The default is to only whitelist the default namespace. It's listed in the docs, but it's confusing in the example.

[2018-07-09 22:41] gzlatkov commented on #81
Hey @asobti,

1. That sounds reasonable!
2. I think we do have that information as it is extracted from the `clientset` which we are already have in `func (c *Chaos) terminate(clientset kube.Interface) error`. Will try to test that tomorrow.

[2018-07-09 22:55] asobti commented on #47
@Spellchaser can you elaborate what you mean by this? Do you mean the ability to, for example, specify a pod to be killed every 'n' hours?

[2018-07-11 01:12] arun-gupta opened #83 "Example deployment.yaml fails to start kube monkey"
0.2.3 is the only tag available at DockerHub:

![image](https://user-images.githubusercontent.com/113947/42545191-53b103e6-846b-11e8-9551-f10723ef51f3.png)

0.1.0 tag not available on DockerHub. As a result, https://github.com/asobti/kube-monkey/blob/master/examples/deployment.yaml#L19 fails to start kube monkey with the following error:

[code]

Also, the image's repo name needs to be specified a

[2018-07-11 01:32] arun-gupta opened #84 "Update short name for Kubernetes"
Short name for Kubernetes is `k8s`, not `k8`. Please update the documentation throughout.

https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/#what-does-kubernetes-mean-k8s

[2018-07-11 01:34] arun-gupta opened #85 "Purpose of identifier annotation is not clear"
What is the purpose of `kube-monkey/identifier` annotation?

Docs say:

[code]

How is this annotation used? What is the guidance around what this annotation value should be? Should it match any other label in manifest?

[2018-07-11 01:38] arun-gupta opened #86 "Purpose of run_hour is not clear"
This is `config.toml` sample from the docs:

[code]

Per this sample, what goes on between 8am and 10am? What is the purpose of specifying `run_hour` in addition to `start_hour`?

Also, is there no provision to run this on weekends?

[2018-07-11 02:31] asobti commented on #86
`run_hour` is when the schedule for the day is made
`start_hour` and `end_hour` book-end the times of the day when pods may be killed.

If you feel this can be better expressed in the documentation, feel free to submit a PR.

[2018-07-11 02:35] arun-gupta commented on #86
Does it matter to the user when the schedule is made? It feels like an extra parameter that the user has to specify where as a default value can be assumed for it. Or is there a default value and this is an optional parameter?

[2018-07-11 02:40] #84 closed

[2018-07-11 02:51] #83 closed

[2018-07-11 02:55] asobti commented on #86
You're correct that it should not matter to the user. As of now, it defaults to 8am, but coming to think of it, a better default value might be `start_hour`. So, if you do not override `run_hour`, scheduling just runs whenever kube-monkey is ready to start killing apps.

[2018-07-11 02:56] asobti commented on #86
I'm gonna think some more about it, but that does sound like a good idea. Also, I agree about the "one extra parameter to worry about" - I think `run_hour` should be removed from the basic example files, as to get started with the most basic usage of kube-monkey, you shouldn't need to worry about it.

[2018-07-11 02:56] #85 closed

[2018-07-12 19:40] asobti opened #90 "Stream event logs to configurable channels"
It would be useful for kube-monkey to have the ability to send events ("killed pod foo for app bar") to channels like Slack, HipChat etc.

In the event that an action taken by kube-monkey causes an issue, the ability to quickly correlate that could be valuable.

[2018-07-18 23:51] Spellchaser commented on #78
Going to close this in favor of #5, opt-in whitelist

[2018-07-18 23:51] #78 closed

[2018-07-31 18:06] #65 closed

[2018-08-06 17:47] asobti commented on #81
Hey @gzlatkov . Just checking in to see if you had a chance to work on this bug.

[2018-08-10 12:31] worldtiki commented on #81
Hi @asobti. I was looking into adding a fixed percentage mode when I came across this same issue.
I raised a pr with the my proposal for a new kill mode which includes a fix for this bug: https://github.com/asobti/kube-monkey/pull/94

[2018-08-13 11:18] shaikatz opened #95 "Run only on specific days"
Hi,

We have low traffic on Sundays, so I would like to schedule the monkey to run only on Sunday.

There is any way to do that with the current configuration options?

[2018-08-13 15:04] asobti commented on #95
It only runs on weekdays so it should not be running on Sundays

[2018-08-13 15:05] asobti commented on #95
This is not currently possible I think

[2018-08-15 09:41] gzlatkov commented on #81
@asobti Sorry, got caught up in work and was on holiday. My stuff still need the unittest adjustments, so I'm happy to go over @worldtiki's PR, which seems to be expanding on the fix with a new termination mode.

[2018-08-15 20:15] Spellchaser commented on #95
I'm not sure you're following the principles of chaos. You should be doing chaos engineering when your whole team is available. Ideally you want to get the point of running it only during the day in production.

As for that feature, it shouldn't be too hard to write. There should be wonderful golang libraries that take care of parsing schedules.

[2018-08-16 07:47] shaikatz commented on #95
Let me surprise you.
I'm working in Israeli timezone, our working days are Sun-Thu.
Sunday is the ideal day to run chaos monkey because there is less volume from our international users.

Maybe I'll be able to implement this feature, it might take some time to me to get to it.

Thanks!

[2018-08-16 07:47] #95 closed

[2018-08-29 05:43] asobti commented on #81
Fixed by #94

[2018-08-29 05:43] #81 closed

[2018-08-31 13:33] worldtiki opened #96 "Docker container dies when a pod uses an invalid kill type"
**Scenario**:
Kube monkey generates the following schedule for the day:
- Deployment A with kill type = _potatoes_ at 10AM
- Deployment B with kill type = _fixed_ at 11 AM

At 10 AM the first attack against Deployment A will fail with the error below, and the docker container for Kube Monkey dies.
Kubernetes restarted the container but (as expected) the attack on Deployment B did not run.

**Error

[2018-08-31 13:34] worldtiki commented on #96
It would be nice if Kube Monkey was able to handle this gracefully by logging an error message but moving on to the next planned attack instead of terminating.

[2018-09-01 22:44] asobti commented on #96
Yikes. Yeah, this is no good. There should never be a case where misconfiguration by one app can take down kube-monkey entirely.

[2018-09-04 19:47] asobti opened #99 "Failing test in victims package"
This might be an issue with my local environment since these failures do not show up when Travis CI runs tests (https://github.com/asobti/kube-monkey/commits/master).

Opening this issue to investigate. Might be a go version thing

[code]

[code]

[2018-09-04 20:42] #99 closed

[2018-09-06 22:41] asobti commented on #96
Fixed by #97

[2018-09-06 22:41] #96 closed

[2018-09-06 22:56] asobti opened #102 "kube-monkey will kill a single random pod if KillType has invalid value and KillValue returns error"
In `chaos.go` line 109, we check for `KillValue` and in case of an error, we delete a single random pod. This happens even if `KillType` has an invalid value since that check comes later.

[2018-09-06 23:27] asobti opened #104 "Inconsistent behavior in how KillType and KillValue errors are handled"
If retrieving KillType returns an error, a single pod is terminated (see https://github.com/asobti/kube-monkey/blob/master/chaos/chaos.go#L103)

However, if KillType returns a value, but we do not recognize that value, we log an error and do nothing (see https://github.com/asobti/kube-monkey/blob/master/chaos/chaos.go#L128).

This is inconsistent. Error condition and invalid value should both trig

[2018-09-07 18:03] kthallam opened #105 "Will KUBE monkey works for open shift ?"
Hi ,

Can you please let me know will Kube monkey works for the open shift origin whose base system is kubernettes only.

[2018-09-07 18:16] asobti commented on #105
According to #40, it does.

[2018-09-07 18:16] #40 closed

[2018-09-07 19:01] #105 closed

[2018-09-07 19:01] #74 closed

[2018-09-09 23:58] dkrisa opened #106 "Pods of Deployment victims with replicas specified are not scheduled for termination"
I have a deployment

[code]

When I deploy kube-monkey, the app gets scheduled for termination.  However, kube-monkey thinks that it does not have any pods running.  I am wondering whether this is because the Deployment creates a ReplicaSet that then owns the pod.  I have verified through kubectl that the Pod described in the Deployment is running.

[code]

[2018-09-10 00:15] dkrisa commented on #106
Duplicate issue

[2018-09-10 00:15] #106 closed

[2018-09-24 18:58] hfuss opened #107 "Terminate services too?"
I want to fork this and add destroying entire Service's to kube-monkey. You guys open to the idea?

This would be useful for testing an application's resiliency to a network partition of a particular dependency, for example:
- Your application's Pods talk to another application via a Service
- You're using a ClusterIP Service as a proxy for an external IP
- You have an Ingress or OpenShift Route p

[2018-09-24 19:00] asobti commented on #107
That sounds fantastic. I would love to see that

[2018-09-24 19:03] brix4dayz commented on #107
Awesome, thanks!

[2018-09-26 14:13] brix4dayz commented on #107
I like the idea as that would be really simple, but I don't believe you can rename a Service since there isn't a way to update the hostname/URL simultaneously:
[code]
Also even if that was allowed, applications might not respect DNS TTL's, and so they could have the ClusterIP of the Service cached and still be able connect.

I was thinking of two ways of "terminating" the Service:
1. Deleting the

[2018-09-28 09:41] Spellchaser commented on #17
Upstream merged!!!

[2018-10-09 00:24] ffjjcclxxx opened #108 "Not able to run in debug mode"
I am trying to use the debug mode which can immediately kill the pod, but not sure what I did wrong, the immediately kill never happened.

Here is the config.yaml I have:

---
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: kube-monkey-config-map
    namespace: dmp-system
  data:
    config.toml: |
      [kubemonkey]
      DryRun = false
      run_hour = 18
      start_hour = 19
      end

[2018-10-09 00:33] asobti commented on #108
The debug settings go in a separate section. your config map should look like this:

[code]

[2018-10-09 23:13] ffjjcclxxx commented on #108
Thank you so much!

[2018-10-09 23:13] #108 closed

[2018-11-09 13:55] worldtiki opened #110 "[Feature request] Attacks based on pod disruption budget"
**Proposal**
Ability to define a kill mode or kill value that is based on the pod disruption budget for that deployment.

The idea behind this is that if you define in a PDB that it's ok to have x% of max unavailability, then it should stand to reason that it's also safe for kube to kill a number of pods based on this percentage.

Example:
[code]
or
[code]

I'm not sure how best to deal with scena

[2018-11-10 13:16] worldtiki opened #111 "[Feature Request] Notifications for schedules and attacks"
*Ability to send an HTTP POST when the attacks are scheduled and when an attack runs.*

This is specially useful when running Kubemonkey in a production environment. I'm not sure how other folks are monitoring the attacks but I guess it's based on the logs.

This feature could work based on a config map, where users would define where to post these messages to, and possibly the format as well (we

[2018-11-15 06:17] prageethw opened #112 "helm installation fails"
Normal   Scheduled              79s                default-scheduler                                     Successfully assigned kube-monkey-kubemonkey-5b58fcc9d8-59nbf to ip-192-168-14-36.us-west-2.compute.internal
  Normal   SuccessfulMountVolume  79s                kubelet, ip-192-168-14-36.us-west-2.compute.internal  MountVolume.SetUp succeeded for volume "default-token-v8h9h"
  Warning  FailedM

[2018-11-15 08:55] prageethw opened #113 "kube monkey permission issue"
Failed to fetch eligible deployments for namespace  due to error: deployments.apps is forbidden: User "system:serviceaccount:kube-system:default" cannot list deployments.apps at the cluster scope

[2018-11-15 09:24] prageethw opened #114 "why not submit for official helm repo?"
time this helm to submit as an official helm chart?

[2018-11-15 23:21] prageethw opened #115 "would not it better if dry run superseded schedule_immediate_kill: true"
I think at the moment the design is to if schedule_immediate_kill: true to supersede everything else and start killing pods, even dry_run= true, I think it makes a more sense honor dry run as the first option of preference so users can actually experiment without waiting hours. I could have sent a PR proposing a fix, but I'm not much familiar with GO :( my sample config is as below which I used fo

[2018-11-16 08:53] prageethw opened #116 "panic: runtime error: invalid memory address or nil pointer dereference"
the values.yaml

[code]
ms values.yaml
[code]

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0xe28cd2]

goroutine 21 [running]:
github.com/asobti/kube-monkey/chaos.(*Chaos).terminate(0xc42015da10, 0x114ba00, 0xc4200b23c0, 0x0, 0x0)
	/Users/asobti/Coding/go/src/github.com/asobti/kube-monkey/chaos/chaos.go:127 +0

[2018-11-16 18:56] asobti commented on #115
The expected behavior if you have both `schedule_immediate_kill` and `dry_run` set to `true`, is that a pod will get scheduled immediately (to aid debugging), but the pod won't actually get killed - kube-monkey will just log that it is killing the pod but not actually kill it (because of `dry_run=true`).

Is that what you were asking @prageethw ?

[2018-11-16 18:57] asobti commented on #116
I'll take a look at this in #103

[2018-11-16 18:59] asobti commented on #113
Does this only happen when using the helm chart for deployment?

[2018-11-17 00:50] asobti commented on #115
oh wow. ok, that is definitely a bug then. thanks for reporting this

[2018-11-17 00:54] asobti commented on #115
Yup, just took a look and it looks like we lost `DryRun` at some point. Will fix this shortly

[2018-11-17 02:43] asobti opened #118 "kube-monkey should respect the termination grace period defined in the pod spec"
If a `TerminationGracePeriod` is defined in the pod spec and it is larger than the configured grace period, the `TerminationGracePeriod` value should be used

[2018-11-17 02:51] #115 closed

[2018-11-17 03:17] prageethw commented on #114
@asobti  I found this better than the chaos monkey currently in helm chart repohttps://github.com/linki/chaoskube,helm , but it has an official helm chart https://github.com/helm/charts/tree/master/stable/chaoskube, what stopping submitting as candidate to official helm repo, my pr must be fixed the issues we had on current helm, so users must be able to directly just install using helm , we might

[2018-11-17 03:18] asobti commented on #114
TBH, I have absolutely no experience with Helm as I've never used it. So that's why I've never submitted it. I might consider it after I merge your PR

[2018-11-17 03:29] prageethw commented on #114
@asobti let me know if any helm, Happy to set-up a helm page for Kube-monkey.

[2018-11-20 07:55] asobti opened #120 "Travis job fails because check_workspace detects dirty working directory"
Not sure what is causing this. Double checked to confirm `go fmt` does not result in any changes.
Eg: https://travis-ci.org/asobti/kube-monkey/jobs/457331794

[2018-11-20 08:08] asobti commented on #120
Modifed check_workspace.sh to list dirty files and it shows the following

[code]
https://travis-ci.org/asobti/kube-monkey/jobs/457334783

but running `make gofmt` locally shows no changes to any file. Might be a version mismatch.

Temporarily disabling check_workspace.sh
https://github.com/asobti/kube-monkey/pull/122

[2018-11-20 08:15] asobti opened #123 "goimports and gofmt disagree on formatting"

[2018-11-20 08:30] asobti commented on #120
This check only fails for Go 1.10.x:
https://travis-ci.org/asobti/kube-monkey/jobs/457341114

but succeeds for Go 1.11.x
https://travis-ci.org/asobti/kube-monkey/jobs/457341115

[2018-11-20 08:32] #118 closed

[2018-11-21 01:38] asobti commented on #116
@prageethw Can you pull down #103 and see if you still have this issue? I think it should be fixed

[2018-11-22 02:01] asobti commented on #116
@prageethw I pushed a new image `kube-monkey:PR103`

[2018-11-22 08:07] prageethw commented on #116
@asobti looks good please close the defect tested in all the modes...

[2018-11-25 00:32] asobti commented on #116
Awesome. Thanks @prageethw

[2018-11-25 00:32] #102 closed

[2018-11-25 00:33] asobti commented on #116
Fixed by #103

[2018-11-25 00:33] #116 closed

[2018-11-25 00:33] asobti commented on #104
Fixed by #103

[2018-11-25 00:33] #104 closed

[2018-11-25 04:52] asobti commented on #110
I think this makes a lot of sense. I'd like to see a new kill mode (PDB) that just kills as many pods as the PDB allows. For eg., if PDB is set at 50%, it should kill 50% of the pods.

I initially considered having kube-monkey randomly kill pods *up to* the PDB, but the problem with that is it will be quite rare that the number of pods killed exactly equals your PDB, which should be the point of t

[2018-11-25 05:09] asobti opened #126 "TestDurationToKillTime is flaky"
Fails occasionally because the result of the test is time-dependent:
https://github.com/asobti/kube-monkey/blob/ebe3dbf56e1b30ffaeae51baa13528f302cf7147/chaos/chaos_test.go#L149

[code]

[2018-11-26 11:44] prageethw commented on #113
closed

[2018-11-26 11:44] #113 closed

[2018-11-26 11:45] prageethw commented on #112
closed

[2018-11-26 11:45] #112 closed

[2018-11-27 03:30] asobti commented on #47
Closing this issue. Open to more specific feature requests to be filed as follow up issues

[2018-11-27 03:30] #47 closed

[2018-12-06 23:02] richabhatia20 commented on #113
@asobti I'm getting this issue when running my k8s cluster on AWS EC2. My app is running in namespace 'dev' and Kube monkey is running in namespace 'kube-system'. The configmap is in kube-system too.

Here's the full error :
[code]

[2018-12-06 23:08] prageethw commented on #113
@richabhatia20  did you use helm to install it?

[2018-12-06 23:09] richabhatia20 commented on #113
@prageethw No I just used the docker image

[2018-12-06 23:16] richabhatia20 opened #130 "Failing to fetch eligible deployments (deployments.apps is forbidden)"
Using the latest docker image to deploy kube-monkey on AWS EC2 k8s cluster

My app is running in namespace 'dev' and Kube monkey is running in namespace 'kube-system'. The configmap is in kube-system too.

[code]

Any help/pointers would be appreciated!

[2018-12-06 23:19] prageethw commented on #113
you need to create a service account that has rights to access other namespaces and run monkey with that service account... otherwise, use helm to install as it will do the magic in the background.

[2018-12-06 23:41] richabhatia20 commented on #113
@prageethw I did create the service account as suggested on https://github.com/fnproject/fn-helm/issues/21 but it didnt help.

[2018-12-06 23:44] richabhatia20 commented on #130
As suggested at https://github.com/fnproject/fn-helm/issues/21, I did create the service account with the following steps, but it didn't help.

[code]

[2018-12-07 01:42] prageethw commented on #113
@richabhatia20

unfortunately, you are not running monkey with RBAC using service account?

##################
# Install Tiller #
##################

kubectl create \
    -f https://raw.githubusercontent.com/prageethw/k8s-specs/master/helm/tiller-rbac.yml \
    --record --save-config

helm init --service-account tiller

kubectl -n kube-system \
    rollout status deploy tiller-deploy

############

[2018-12-07 12:00] narendra15 opened #131 "Can we use kube-monkey for GCP/GKE?"
Hello Team,

I have a project in GCP and have Kubernetes cluster in it where in for my testing purpose I am planning to kill my pods/nodes using kube-monkey. Can you please let me know if kube-monkey supports with GCP/GKE.

Thank you

[2018-12-08 07:09] asobti commented on #114
@prageethw Thanks for all the improvements to the helm chart. Given that you probably understand the helm chart for kube-monkey the best, it would be great if you could take care of submitting it to the official helm repo.

[2018-12-08 07:17] asobti commented on #126
Disabled test in #133 until it is fixed

[2018-12-08 07:36] asobti opened #134 "Redesign how grace period for pods being terminated is decided"
In the past, the grace period was configurable at a global level and would default to 5sec.

In 4821c5e450d8b5727bb9239a2636226e0b8d3ee0 I changed the behavior slightly to use the max of the configured grace period and the pod's termination grace period.

I'm now reconsidering this and think my change might not have been ideal. kube-monkey should not be gracefully terminating pods as that is not t

[2018-12-11 07:13] prageethw commented on #114
@asobti  yep leave it with me...

[2018-12-19 17:40] gjcarneiro opened #135 "Allow global namespace kill settings"
My app has many many deployments, it would be tedious to have to modify all of them.

Can we instead have some annotations on a namespace.  I'd like my dev namespace to just randomly kill pods.

[code]

[2018-12-20 08:49] prageethw commented on #135
@gjcarneiro I think that's the benefit of this chaos solution giving total control to the victim whether he should be treated as a victim or not.
there are other chaos solutions that provide similar behaviour https://github.com/linki/chaoskube

[2018-12-20 11:16] gjcarneiro commented on #135
Ah, I didn't know about chaoskube.  That one sounds like it's closer to what I'd like.  Thanks for the tip!

kube-monkey seems to me to be too conservative.  kube-monkey seems more suited to a production environment, when you think your production can survive pods being killed.

But I need a more aggressive pod killer, to really stress out the dev cluster.

[2018-12-20 20:40] asobti commented on #135
I think your use case is valid. There are work-arounds for you (eg. adding the labels to all deployments under the namespace) but obviously that is not convenient. I'm going to re-open this issue to see if we can support setting labels at the namespace level.

When it comes to enrolling apps into kube-monkey, I agree with you that kube-monkey is too conservative, and this is not by design. I do wa

[2018-12-20 21:16] gjcarneiro commented on #135
An additional problem I found was that "kube-monkey/mtbf" can only be integer and it's days, but I don't want to have to wait days for a pod to get killed.

[2018-12-21 16:36] Spellchaser commented on #135
I have a comment somewhere about changing that to support times using something like or https://github.com/raintank/dur

[2019-01-10 07:51] romancin commented on #40
I have been testing this, and kube-mokey container runs well in OpenShift, but it doesn't work with OpenShift deploymentConfig, only with kubernetes deployments. If you use kubernetes deployments, you loose the ability to use image streams, lifecycle hooks and custom deployment strategies, as stated in this document:
https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/kubernet

[2019-01-11 18:59] alberttwong commented on #40
@romancin How are you starting or loading the container in OCP?

[2019-01-11 20:00] romancin commented on #40
I am running kube-monkey inside Openshift. If I use Kubernetes Deployments inside Openshift, kube-monkey works fine. But if you use Openshift DeploymentConfig (this is the standard mode for Openshift), kube-monkey doesn’t work.

[2019-01-11 20:09] alberttwong commented on #40
Can you share what you did?  I take it that you're loading via yaml.   I can look at why since I'm a Red Hatter that works on OCP.

[2019-01-11 20:10] osmancis commented on #40
@romancin Can you make sure you defined the config map? I missed it first time I ran this K Monkey

[2019-01-11 21:32] alberttwong commented on #40
For the issue,
```error: couldn't get deployment kube-monkey-5: replicationcontrollers "kube-monkey-5" is forbidden: User "system:serviceaccount:kube-system:deployer" cannot get replicationcontrollers in the namespace "kube-system": User "system:serviceaccount:kube-system:deployer" cannot get replicationcontrollers in project "kube-system"```

[code]

[2019-01-11 21:42] alberttwong commented on #40
Answer

[code]

[2019-01-11 21:54] asobti commented on #40
Fixed by #137

[2019-01-11 22:01] alberttwong commented on #40
FYI.. this is another effort.  https://github.com/chaitanyaenr/kraken

[2019-01-11 22:04] romancin commented on #40
Sorry, but that is not the problem, as I said, kube-monkey is working well. The problem is that kube-monkey is searching for Deployments using the kubernetes api. When you use Openshift DeploymentConfig, kubernetes Deployments are not used, so kube-monkey thinks that it doesn’t have any pods to kill. If you do a `kubectl get deployments` on a Openshift cluster when you are using DeploymentConfigs,

[2019-01-11 22:09] romancin commented on #40
This seems to make chaos only on the Openshift infrasctucture and not in the application pods, so I think the purpose is different than kube-monkey. Both working together would be awesome 🙂

[2019-01-11 23:13] alberttwong commented on #40
So I miss understood.   I thought you couldn't deploy kube-monkey in a DC configuration.    Unfortunately you'd have to rewrite kube-monkey so that it understood OCP DC.

[2019-01-14 17:41] alberttwong opened #138 "Doesn't understand OpenShift Deployment Configuration"
Figured out how to deploy on openshift.   Problem now is that that kube-monkey only understands deployment and not openshift's enhanced version of kube deployment called deployment configuration.

[2019-01-15 22:54] alberttwong commented on #138
[code]

[2019-01-18 13:50] pgold30 opened #139 "kill value cannot convert int64 to string"
When trying to apply examples I got the error
[code]

I was able to isolate the issue and the problem is in line
[code]

I was also able to fix it like this :
[code]

But you should change that in the Readme

PR created https://github.com/asobti/kube-monkey/pull/140

[2019-01-23 19:21] asobti commented on #139
Interesting catch. I see your PR, but I want to take a look at the code to see if we can fix this by allowing the code to handle both integers and strings.

[2019-01-23 19:31] asobti commented on #139
Nevermind. As per the k8s docs, label values must be strings
https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

[2019-01-23 19:32] asobti commented on #139
Fixed by #140

[2019-01-23 19:32] #139 closed

[2019-01-25 12:12] rajasekhargaddam commented on #130
Hi,
We are trying to kill kubernetes pods using kubeMoney, And we are getting the similar issue, would someone help for the solution please.

Failed to fetch eligible deployments for namespace xyz-service due to error: deployments.apps is forbidden: User "system:serviceaccount:kube-system:default" cannot list deployments.apps in the namespace "xyz-service"

[2019-01-28 09:14] mydapp commented on #3
the schedule time is  IO128  08:00:58 but my  system date is :16:00 :58 +800

[2019-01-29 08:40] mydapp opened #141 "about the version support for k8s"
this project not point out the version support for k8s.  Some old k8s may have error

[2019-01-30 08:04] prageethw commented on #114
I have submitted this to official helm. hence closing.

[2019-01-30 08:04] #114 closed

[2019-01-31 13:30] mikebryant opened #144 "Log namespace"
When the schedule is printed, it doesn't include the namespace.
[code]

We have Deployment objects spread across multiple namespaces, it would be useful if the namespace name was included

[2019-01-31 19:54] #144 closed

[2019-02-04 21:43] richabhatia20 commented on #130
@rajasekhargaddam I resolved this issue by creating a Service Account, ClusterRole and ClusterRoleBinding. You need to add the rules in ClusterRole with pods as resources and verbs: list, get, delete.

Refer to: https://kubernetes.io/docs/reference/access-authn-authz/rbac/

[2019-02-04 21:44] #130 closed

[2019-02-21 09:09] faust64 commented on #138
According to that error message, you're either missing a rolebinding, or aren't using your serviceaccount starting your Pod.

FYI, running on OpenShift, I've been using the following template:

[code]

Now we could raise the issue that kube-monkey isn't able to process deploymentconfigs.

I've been duplicating `victims/factory/deployments` into `victims/factory/deploymentconfigs`, fixing whatever

[2019-03-05 21:18] asobti commented on #141
Does the 'Compatibility with Kubernetes' section in the Readme not answer this question?

I unfortunately don't have a lot of different versions of k8s at my disposal (I suppose I could use minikube to test against different versions, but time is another thing I don't have a lot of at my disposal :( ) so I'm forced to just refer to the kube-client Compatibility Matrix. Curious if that is not accur

[2019-03-13 15:55] Mohitg06 opened #147 "Deployment gets stuck"
Trying to install chaos monkey using Helm.
kubectl -n {name_space} rollout status deployment chaos-kube-monkey
Waiting for deployment "chaos-kube-monkey" rollout to finish: 0 of 1 updated replicas are available...

my values.YAML file:
replicaCount: 1
rbac:
  enabled: true
image:
  repository: ayushsobti/kube-monkey
  tag: v0.3.0
  pullPolicy: IfNotPresent
config:
  dryRun: false
  runHour: 7
  st

[2019-03-13 16:06] Mohitg06 opened #148 "Kube-Monkey Helm issue"
Followed helm install --name my-release kubemonkey \
               --set config.dryRun=false \
               --set config.whitelistedNamespaces="namespace1\"\,\"namespace2\"\,\"namespace3"

But still when the chart gets deployed, it takes the default values from values.yaml.  I tried updating the values.yaml , thats when I get the issue https://github.com/asobti/kube-monkey/issues/147

[2019-03-18 03:28] dilyar85 commented on #120
I found the problem is that `gofmt` has been updated the way formatting items of a list.
Go 1.10 and Go 1.11 will produce different results after doing `gofmt` on the file [victims/victims_test.go](https://github.com/asobti/kube-monkey/blob/master/victims/victims_test.go#L363):
[code]
I suggest if we want to enforce `gofmt` via Travis CI, we should stick to exactly one version of `gofmt`.

[2019-03-25 21:49] asobti commented on #148
@prageethw who wrote the helm charts

[2019-03-25 21:53] Mohitg06 commented on #148
Thanks @prageethw , can you please help

[2019-03-26 07:36] prageethw commented on #148
Hi @mohit06 I’m on holidays will take a look when I have a chance

[2019-04-09 16:09] Mohitg06 commented on #147
Not an issue anymore

[2019-04-09 16:09] #147 closed

[2019-04-09 18:25] Mohitg06 commented on #148
@prageethw , hope you had good holidays it seems like an escape character issue.,

I tried the below configuration: helm install --name my-test2 kubemonkey --set config.dryRun=false --set config.whitelistedNamespaces="namespace1" --namespace namespace1, i dont see any terminations happening.
 I have set the runHour: 10 and startHour:11

[2019-05-09 22:41] sabdalla80 opened #150 "Container build failing"
L33850OUS:kube-monkey abdas1$ make container
Running docker with ''
Sending build context to Docker daemon    112MB
Step 1/3 : FROM ubuntu
 ---> d131e0fa2585
Step 2/3 : RUN if (dpkg -l | grep -cq tzdata); then         echo "tzdata package already installed! Skipping tzdata installation";     else         echo "Installing tzdata to avoid go panic caused by missing timezone data";         apt-get up

[2019-05-09 23:53] asobti commented on #150
Currently we are not using multi-stage builds for kube-monkey. As a result, `make container` expects kube-monkey to have been compiled before hand.

Do `make && make container` to build a container.

[2019-05-09 23:53] #150 closed

[2019-05-21 10:06] markusjevringgoeuro commented on #134
I think this is a great idea. I was going to start working on a PR for this, but if you've already thought about it, that would be better =)

[2019-05-29 14:43] priyankag83 opened #151 "KubeMonkey isnt killing all pods in apps even after specifying kill-mode as kill-all"
I am seeing following 3 issues in kubemonkey while testing on my side. Are there any fix for these?

a)KubeMonkey isnt killing all pods in apps even after specifying kill-mode as kill-all. Even if 5 pods are there, only 3 are being terminated. I also tried specying mode as fixed and value as 5 still 3 are getting terminated.
Is there anyother variable to change.

b)Also kube-monkey works only on w

[2019-05-31 05:30] loveshjain commented on #40
@alberttwong I deployed the `kube-monkey` like you mention on my openshift, but it does not seems to be working. Its giving me

`I0531 04:04:08.061773       1 schedule.go:57] Status Update: 0 terminations scheduled today`

When I did `kubectl get deployments` i got `No resources found.`

Any idea?

[2019-06-27 02:24] grv231 commented on #151
DebugForceShouldKill = "debug.force_should_kill". So the variable to kill all the pods with 100% probability would be **force_should_kill**

It is mentioned in the link https://github.com/asobti/kube-monkey/blob/master/config/param/param.go

Not sure about the hour and minutes.

[2019-07-11 20:54] h-wang94 commented on #131
I'm using this on a GCP GKE cluster and have confirmed this works.

If it doesn't work, you may want to check the version of Kubernetes you're running: https://github.com/kubernetes/client-go#compatibility-matrix

[2019-07-22 15:02] bharath0208 commented on #42
@sudarshntn @asobti I am getting the same error now. However my kube-monkey and config are running on kube-system namespace.

I0719 15:14:37.034731       1 config.go:74] Successfully validated configs
I0719 15:14:37.034795       1 main.go:52] Starting kube-monkey with v logging level 5 and local log directory /var/log/kube-monkey
I0719 15:14:37.121400       1 kubemonkey.go:24] Status Update: Gener

[2019-08-05 11:22] suresh447 opened #152 "Kube-Monkey not able to kill pods in my Azure AKS cluster"
I deployed kube-monkey in my Azure Aks cluster with following config map and deployment file

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kube-monkey-config-map
  namespace: kube-system
data:
  config.toml: |
    [kubemonkey]
    run_hour = 4
    start_hour = 5
    end_hour = 6
    blacklisted_namespaces = ["kube-system"]
    whitelisted_namespaces = ["kubemonkey"]

Deployment file
# Depl

[2019-08-05 18:32] asobti commented on #152
The error seems quite descriptive:

I do not know how Azure AKS manages and handles permissions, but I'd recommend you look at that.

Closing because this isn't an issue with kube-monkey

[2019-08-05 18:32] #152 closed

[2019-08-16 07:07] AnyuanLuo opened #153 "How to Set Time to Chinese Time"
How to set time to Chinese time? I'm in China so I want to set the Beijing time.

[2019-08-16 19:14] Spellchaser commented on #153
The README config section specifies the `time_zone = "America/New_York"` flag.

[2019-08-16 19:14] #153 closed

[2019-08-19 11:30] suresh447 opened #154 "Pods getting terminated even after scheduled end hour is completed"
I have installed kube-monkey using helm chart and i tested by giving
config:
  dryRun: false
  runHour: 4
  startHour: 5
  endHour: 6
  blacklistedNamespaces: "kube-system"
  whitelistedNamespaces:  "kubemonkey"
  timeZone: America/Chicago
  debug:
   enabled: true # if you want to enable debugging and see how pods killed immediately set enabled and schedule_immediate_kill to true
   schedule_imme

[2019-08-20 02:02] asobti commented on #154
In debug mode, start_hour and end_hour are not considered. This is by design.
See https://github.com/asobti/kube-monkey/blob/master/schedule/schedule.go#L85

[2019-08-20 02:02] #154 closed

[2019-08-20 02:23] suresh447 commented on #154
Hi Asobti/Kube-Monkey

Thanks for you immediate response.if i am not enable debug mode kube monkey
is not killing the target pods in the given start hour and end hour.is
there any specific time period we have to maintain can you please let me
know.

Thanks
Suresh

On Tue, 20 Aug 2019, 7:32 a.m. Ayush Sobti, <notifications@github.com>
wrote:

[2019-09-19 13:09] zslim opened #155 "Timezone of log timestamps"
Hi! I parse kubemonkey logs in an automating script and I extract timestamps for scheduling times and termination times. I configured the timezone of my location and termination times are displayed according to that, but the timestamps at the beginning of the lines are not. So my extracted timestamps are mismatched in timezone.

![log_screenshot](https://user-images.githubusercontent.com/22755497/

[2019-09-20 00:29] asobti commented on #155
That sounds very reasonable. If you have a PR, I'd be happy to take a look.

[2019-09-25 08:26] lcwus2 opened #157 "problems about docker pull and k8s helm install"
first problem is about docker pull ,like this:
xxx@xxx-desktop:~/kube-monkey/helm$ docker pull ayushsobti/kube-monkey
Using default tag: latest
Error response from daemon: manifest for ayushsobti/kube-monkey:latest not found

second problem is when I helm install release in my namespace, pod'status is  imagePullBackOff, error details are this:
Failed to pull image "ayushsobti/kube-monkey:v0.3.0":

[2019-09-25 08:45] lcwus2 commented on #157
I don't know these problems' reasons.
hope someone can help, thanks:(

[2019-09-25 18:15] asobti commented on #157
You might have hit an intermittent error with cloudflare/dockerhub. The command `docker pull ayushsobti/kube-monkey:v0.3.0` works for me. Closing this issue.

[2019-09-25 18:15] #157 closed

[2019-11-15 20:53] lingrino commented on #134
@asobti It looks like this never got reverted. Would you be open to a PR that reverts the commit so that kube-monkey grace period overrides any pod specified grace period? Thanks!

[2019-11-15 20:54] asobti commented on #134
Definitely. If you prep the PR I'd be happy to review and merge.

On Fri, Nov 15, 2019, 12:53 PM Sean Lingren <notifications@github.com>
wrote:

[2019-11-15 20:55] lingrino commented on #134
Perfect, hoping to get that in next week. Thanks

[2019-11-18 17:59] ArseniiPetrovich opened #163 "Building issues"
Hi, guys! I was not able to build container as README mentiones. Got the following error:
[code]

The side question: can I rebuild `kube-monkey` somehow with a more modern version of `client-go`, so it would be compatible with Kubernetes 1.15?

[2019-11-18 18:00] ArseniiPetrovich commented on #163
https://github.com/asobti/kube-monkey/issues/150

Duplicate of https://github.com/asobti/kube-monkey/issues/150.
Team, please, change the README so it would be more clear about installation procedure. Thanks!

[2019-11-18 18:14] ArseniiPetrovich commented on #163
Can't actually run `make`. Error log:
[code]

[2019-12-09 11:33] abhinandan1989 opened #165 "How to kill pods, I am getting this ??"
Hi ,
I am getting this after my kube-monkey deployment

Every 2.0s: kubectl logs kube-monkey-64b6b9c766-5nm5k -n kube-system                                                                 master: Mon Dec  9 06:23:42 2019

I1209 11:22:40.499217       1 config.go:74] Successfully validated configs
I1209 11:22:40.499236       1 main.go:52] Starting kube-monkey with v logging level 5 and local log di

[2019-12-10 01:09] asobti commented on #165
The error message is coming from https://github.com/asobti/kube-monkey/blob/master/kubernetes/kubernetes.go#L31.

The client is unable to talk to your apiserver. Verify you are passing in the correct parameters to connect to the cluster.

[2019-12-19 02:26] jroper commented on #118
Doesn't this defeat the purpose of chaos testing? Failures don't happen gracefully, it's easy to make sure things work when you terminate things gracefully, and things get terminated gracefully all the time (eg during rolling upgrades) so there's no point having an additional service like this testing that. The hard thing is to make things work when things don't terminate gracefully, ie, when they

[2019-12-19 02:45] #165 closed

[2019-12-19 02:45] asobti commented on #118
@jroper Agreed with everything you say. This is tracked by #134

[2019-12-19 03:14] #134 closed

[2019-12-19 03:14] asobti commented on #118
@jroper Fixed

[2019-12-19 06:04] pragyesh15 commented on #148
Hi,
I am getting following issue while deploying kube-monkey through helm chart. Any help will be appreciated.

[code]

[2019-12-19 06:59] ddhoot09 opened #167 "Kube monkey pod is in CrashBackLoop"
We are facing issue with kube monkey pod. It is crashing immediately after deployment.

Following is an error
F1219 06:47:53.450335       1 main.go:43] While parsing config: (6, 28): never reached
goroutine 1 [running]:
github.com/asobti/kube-monkey/vendor/github.com/golang/glog.stacks(0xc00025f500, 0xc000278000, 0x57, 0xb6)
        /Users/asobti/Coding/go/src/github.com/asobti/kube-monkey/vendor/

[2019-12-19 07:01] pragyesh15 commented on #167
I am also facing the same issue and it was working till yesterday.

[2019-12-19 07:21] ddhoot09 commented on #167
We are seeing this issue from today morning

[2019-12-19 07:59] asobti commented on #148
@pragyesh15 What version are you running? Are you running the latest from master?

[2019-12-19 08:00] asobti commented on #167
Any info on version/commit you are running would be helpful

[2019-12-19 09:04] pragyesh15 commented on #148
Yes

On Thu, 19 Dec, 2019, 1:29 PM Ayush Sobti, <notifications@github.com> wrote:

[2019-12-19 09:07] ddhoot09 commented on #167
Following is the values.yaml file

[2019-12-19 09:07] ddhoot09 commented on #167
# Default values for kubemonkey.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
rbac:
  enabled: true
image:
  repository: ayushsobti/kube-monkey
  tag: v0.3.0
  pullPolicy: IfNotPresent
config:
  dryRun: false
  runHour: 8
  startHour: 10
  endHour: 16
  blacklistedNamespaces: "kube-system"
  whitelistedNamespaces: psr-data
  timeZone: Asia

[2019-12-19 09:11] ddhoot09 commented on #167
Kubernetes version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0",
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8",

[2019-12-19 20:19] asobti commented on #167
I just tested the master branch with these configs:

[code]

Can you try with these configs and see if they work for you?

[2020-03-24 04:58] javajon commented on #167
The blacklist and whitelist values must be in quotes.  toml string values must be in quotes.  The default value for blacklist defines the value without quotes therefore I get this when the chart is installed.

`F0324 04:39:39.609259       1 main.go:43] While parsing config: (6, 28): never reached`

If you look in your configmap and see unquoted values such as

`blacklisted_namespaces = [ kube-syst

[2020-03-28 10:25] tsionyx opened #177 "Support for wildcards in namespace lists"
It would be great to allow to filter namespaces by wildcard, e.g.
[code]

[2020-04-03 09:08] gongyunbao opened #178 "create kube-monkey pod， ERROR Message : open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory"
![image](https://user-images.githubusercontent.com/16473096/78343606-af6b1f00-75cd-11ea-8d55-61dc38e36521.png)

[2020-04-10 14:34] jvikstrom opened #179 "Kube monkey gives incorrect error log if not sufficient permissions"
If you deploy kube-monkey with a service account and roles like this.
[code]

Kube-monkey will successfully schedule terminations but fail with the: `Failed to execute termination for v1.Deployment nice-pod. Error: v1.Deployment nice-pod is no longer enrolled in kube-monkey. Skipping` message. It should probably fail and say that it needs get permissions on deployments as well, as this is quite co

[2020-04-17 10:40] nagasp commented on #130
kubectl create clusterrolebinding default-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:default

The above command seemed to solve the issue

[2020-04-23 03:56] nagasp opened #180 "Adding labels in the presence of operator"
I tried kubemonkey on a deployment.

Applied the following to deployment, made sure even the pods under the deployment gets
propagated to the pods as well and kubemonkey picked up the pods.

metadata:
  name: mydeploy
spec:
  template:
    metadata:
      labels:
        kube-monkey/enabled: enabled
        kube-monkey/identifier: mydeploy
        kube-monkey/mtbf: '2'
        kube-monkey/kill-mod

[2020-04-28 18:05] sohailjalal opened #181 "any slack channel or fourum for Kube-monkey ?"
Hi
Is there a slack channel or community forum to discuss Kube monkey issues ? kube-monkey task is running, however it is not killing the sample task which is in a separate namespace. I have set debug to true and schedule_immediate_kill to true in values.yaml.  the config logs show the process is running. Apologies for a basic question
Thanks
SJ

[2020-04-28 18:14] asobti commented on #181
There's a Slack channel - its listed in the Readme.
I, however, no longer have the time to be active there so hopefully someone else can help you out.

[2020-04-28 18:14] #181 closed

[2020-04-29 03:33] aluwala commented on #42
Am also getting the same error :
Failed to fetch eligible deployments for namespace hygiearesilency due to error: deployments.apps is forbidden: User "system:serviceaccount:hygiearesilency:default" cannot list resource "deployments" in API group "apps" in the namespace "hygiearesilency"

found that creating a cluster role binding will help,but  am unable to create at the clusterscope.It is forbidd

[2020-04-29 03:37] aluwala commented on #130
Am unable to run the above command

clusterrolebindings.rbac.authorization.k8s.io is forbidden: User "system:serviceaccount:ns:serviceaccount" cannot create resource "clusterrolebindings" in API group "rbac.authorization.k8s.io" at the cluster scope

[2020-06-28 11:27] opensourceonly opened #189 "timeZone in values-yaml not working as expected"
timeZone in values-yaml not working as expected. For instance it prints  06/28/2020 13:49:00 +0200 CEST in logs even if i set some CET time zone from https://golang.org/src/time/zoneinfo_abbrs_windows.go

[2020-07-06 19:50] scott-grimes opened #191 "version error when installing helm chart via flux"
As it stands the chart versions (1.3, 1.2, etc) are incorrectly interpreted as "number" type when using flux to manage a helm release.

`validation failure list:\nspec.chart.version in body must be of type string: \"number\""`

Solution is to include a patch version in the chart, matching the current appVersion and image version scheme, both of which already conform to semver standard 2 https://se

[2020-07-08 20:26] opensourceonly commented on #189
@asobti  Any suggestions to solve this one please ?

[2020-07-25 17:48] shashikumarraja commented on #86
How to trigger the run on weekend?

[2020-07-30 03:28] douxiaoniu77 opened #193 "kube-monkey schedules Termination successfully, but POD always doesn't be killed"
Here is the kube-monkey pod logs:
I0730 02:48:36.817408       1 config.go:82] Successfully validated configs
I0730 02:48:36.817626       1 main.go:54] Starting kube-monkey with v logging level 5 and local log directory /var/log/kube-monkey
I0730 02:48:36.826158       1 kubemonkey.go:24] Status Update: Generating next schedule at 2020-07-30 11:00:00 +0800 CST
I0730 03:00:00.000513       1 schedule.

[2020-09-17 02:34] infa-anisrini opened #195 "pods still continues to terminate after the end_hour"
As per my config, i stated to terminate pods between 4PM to 5PM :

`[kubemonkey]`
`dry_run = false`
`run_hour = 15`
`start_hour = 16`
`end_hour = 17`
`blacklisted_namespaces = [ "", ]`
`whitelisted_namespaces = [ "kube-system", "lamm", "stackrox", "istio-system", ]`
`time_zone = "America/Los_Angeles"`
`[debug]`
`enabled= true`
`schedule_immediate_kill= true`

But pods continues to terminate even b

[2020-09-21 20:12] #191 closed

[2020-10-03 07:53] #111 closed

[2020-10-04 06:31] worldtiki commented on #195
Hi @infa-anisrini.

You should remove the debug block from your configuration. That will cause the pods to be killed every minute and it will ignore the `starthour` and `endhour`.

[2020-10-07 17:07] worldtiki opened #202 "Simplify labels to opt in to chaos"
https://github.com/asobti/kube-monkey#example-of-opted-in-deployment-killing-one-pod-per-purge

Currently these need to be set at both **metadata.labels** and **spec.template.metadata.labels**.
This can lead to conflicting configurations where we have different values in each of these. It also means we have duplicate work which is not ideal.

I wonder if we can just declare them in one place and u

[2020-10-12 19:56] worldtiki commented on #195
@infa-anisrini feel free to reopen this ticket if the explanation was unclear.

[2020-10-12 19:56] #195 closed

[2020-10-12 20:06] worldtiki commented on #90
Fixed by #175

[2020-10-12 20:06] #90 closed

[2020-10-28 07:55] #17 closed

[2020-12-23 09:38] worldtiki commented on #163
Hi @ArseniiPetrovich. Apologies for the delay.

I updated the makefile and the dockerfile a few commits ago. I'm going to close this issue. Feel free to reopen if you still have issues building.

[2020-12-23 09:38] #163 closed

[2021-04-07 08:44] caswang2786 commented on #80
I also have this issue. I use helm tool to do the this.
"helm install my-release kubemonkey --set config.debug.enabled=true"
But it is also displayed "No terminations scheduled. "
I created 2 pods in the namespace of default.
![image](https://user-images.githubusercontent.com/52614992/113837402-62adbb80-97c0-11eb-8073-55daaca721c6.png)
but it is it killed.

[2021-05-17 10:05] sathiyajith opened #211 "Context deadline exceeded during slack notification"
[code]

My configmap.yaml

 [notifications]
    enabled = true
    reportSchedule = true
    [notifications.attacks]
    endpoint = "https://hooks.slack.com/services/XXXXX"
    message = '{"text": "Kube-monkey attack of {$name} in {$namespace}"}'
    headers = ["api-key:{$env: YYYYY}","Content-type: application/json" ]

[2021-05-19 10:51] #211 closed

[2021-05-31 12:01] kyrylyuk-andriy commented on #193
I have the same issue, deployments are scheduled to be terminated but not all of them actually were terminated (pods in a deployment)

[2021-05-31 14:14] worldtiki commented on #193
Can you share the configs for kube monkey that you are using?

[2021-05-31 18:02] kyrylyuk-andriy commented on #193
my kube-monkey tool config

[code]

and labels in each opted in service

[code]

this labels config use around 10-12 different services, all of them were scheduled for termination with pre defined hours  and only 3-4 services (pods) were actually were terminated,

[2021-05-31 20:23] worldtiki commented on #193
Do you mind adding the logs, the version that you are using and more detail?
Is it always the same services that are not attacked or is ti random?

[2021-06-01 20:27] kyrylyuk-andriy commented on #193
i ran only once in production environment, i stopped until we figure out how this tool works, in logs we was that tool triggered termination for deployments but we didn't see any terminated pods after that.

our kube-monkey version

[code]

[2021-07-21 20:55] shreya8887 opened #213 "No terminations scheduled problem"
Hello, I am facing similar issue which you already close it before #80. However, I am working on it from past few days and I am not able to solve it.

        I0721 19:41:07.985992       1 config.go:82] Successfully validated configs
        I0721 19:41:07.986015       1 main.go:54] Starting kube-monkey with v logging level 5 and local log directory /var/log/kube-monkey
        I0721 19:41:08.0114

[2021-07-24 17:23] worldtiki commented on #213
Hi @shreya8887! I'm not familiar with openshift so I'm not sure if I'll be able to help much.

But you can see [here](https://github.com/asobti/kube-monkey/blob/v0.4.0/victims/factory/deployments/eligible_deployments.go#L21) that kube-monkey only targets `apps/v1 Deployments` but in your case you are using a `apps.openshift.io/v1 DeploymentConfig`.

Does that create a regular deployment behind the

[2021-07-24 17:24] worldtiki commented on #70
Closing as stale

[2021-07-24 17:24] #70 closed

[2021-07-24 17:24] #110 closed

[2021-07-24 17:24] worldtiki commented on #178
Closing as stale

[2021-07-24 17:24] #178 closed

[2021-07-24 17:26] worldtiki commented on #213
It looks like someone tried to solve this before and that it requires code changes: https://github.com/faust64/kube-monkey/commit/6b9956dc6157b05387c0b1e5c569aa95e6903310

[2021-07-24 17:26] worldtiki commented on #138
Closing as stale

[2021-07-24 17:26] #138 closed

[2021-07-24 17:26] worldtiki commented on #167
Closing as stale

[2021-07-24 17:26] #167 closed

[2021-07-24 17:30] #131 closed

[2021-07-24 17:31] worldtiki commented on #107
Closing as stale

[2021-07-24 17:31] #107 closed

[2021-07-24 17:32] worldtiki commented on #179
Closing as stale

[2021-07-24 17:32] #179 closed

[2021-07-24 17:32] #120 closed

[2021-07-24 17:33] worldtiki commented on #148
A new version of the charts is now available.

[2021-07-24 17:33] #148 closed

[2021-07-24 17:34] worldtiki commented on #193
Sorry for the radio silence @kyrylyuk-andriy. A new version was released yesterday if you want to give it a try.

[2021-07-24 17:34] #193 closed

[2022-02-15 22:02] CYB3RV4D3R opened #226 "Kubectl exec into Kube-monkey pod"
Could you append this func into your main.go and update the go.sum?? I believe this will fix the issue trying to kubectl exec into the pod to check the config.toml and anything else within the pod.
##################################################################################
[code]

[2022-02-23 11:06] puagg opened #227 "Failed to execute termination for v1.StatefulSet . Error: no terminations requested for v1.StatefulSet"
I have deployed the kube-monkey in default namespace and following is my configuration.

root@k8s master0 ]# kubectl get po
+ kubectl get po
NAME                                                  READY   STATUS    RESTARTS   AGE
kubemonkey-kube-monkey-57b6d94c-2lmbs                 1/1     Running   0          3h48m

[root@k8s-master0 ]# kubectl get cm kubemonkey-kube-monkey -o yaml
+ kubectl get c

[2022-03-16 09:44] mhartwig opened #228 "Missing copyright information"
There are no copyright information in the license file ([LICENSE](https://github.com/asobti/kube-monkey/blob/master/LICENSE#L189)). Please add the correct information (like [here](https://github.com/apache/logging-log4j2/blob/release-2.x/LICENSE.txt#L190)).

[2022-03-16 11:32] worldtiki commented on #228
That's how the license file is meant to be used: https://github.com/spring-projects/spring-boot/blob/main/LICENSE.txt#L190

https://medium.com/@vladimirgorej/how-to-apply-the-apache-2-0-license-to-your-open-source-software-project-cb9f777057a2

[2022-03-16 11:32] #228 closed

[2022-03-23 13:35] prithakundu opened #229 "KubeMonkey isnt killing any pods"
I have installed postgresql-ha with below command:

`helm install my-release --set-string postgresql.labels.kube-monkey/enabled=enabled,postgresql.labels.kube-monkey/identifier="postgresql-ha",postgresql.labels.kube-monkey/mtbf='1',postgresql.labels.kube-monkey/kill-mode="fixed",postgresql.labels.kube-monkey/kill-value='1' bitnami/postgresql-ha`

All postgres pods are running:
NAME

[2022-04-14 03:03] minhjh commented on #229
Maybe you can check config Kubemonkey. In toml file dry_run is true. If true, pod will not be terminated. If false, pod will be terminated

[https://github.com/asobti/kube-monkey/blob/master/internal/pkg/config/param/param.go](https://github.com/asobti/kube-monkey/blob/master/internal/pkg/config/param/param.go)

[2022-04-15 07:11] keanryan opened #230 "Kill - frequency control"
Hi, i'm using kube-monkey in Debug mode (so pods are kill every 60s): how can i control the frequency kill? May i reduce this 60s?

[2022-07-01 13:49] worldtiki commented on #230
Please check the https://github.com/asobti/kube-monkey#how-kube-monkey-works section

[2022-07-01 13:49] #230 closed

[2022-07-01 13:50] #229 closed

[2022-07-22 03:46] dchourasia commented on #135
@asobti do we have Opt-Out mode enabled now with kube-monkey?.. do not see it in the docs so just want to confirm.

[2022-08-03 16:19] dewan-ahmed opened #236 "Documentation site for Kube-Monkey"
While the existing README is a great start, this project can use a documentation site since it's growing fast (Yayy!!)

Options:

1. https://argo-cd.readthedocs.io/en/latest (readthedocs)
2. https://github.com/kubernetes/website (GitHub/Netlify), Hugo/GitHubPages, or other combinations
3. Something else?

Happy to contribute as well.

[2022-08-03 16:38] worldtiki commented on #236
We already use github pages as a way to publish helm charts (https://github.com/asobti/kube-monkey/tree/gh-pages) but I'm sure we can have them for both charts + docs.

I've used mkdocs material in other projects and I'd definitely recommend using this (https://squidfunk.github.io/mkdocs-material/) but happy to hear about alternatives.

Thoughts @asobti?

[2022-09-20 22:29] mattlorimor opened #237 "Golang monkey patching library utilized against terms of license"
The Golang monkey patching library, https://github.com/bouk/monkey, is being utilized directly against [its license](https://github.com/bouk/monkey/blob/master/LICENSE.md):

It is also archived and not maintained.

[2022-09-21 08:14] #237 closed

[2022-10-14 00:12] Gaethje opened #239 "How to pull from a private docker registry?"
From Helm chart,
[code]
My k8 cluster is on-prem vanilla without any internet connection. we pull images from a private docker registry. How to pull from private docker registry instead of docker.io?
in other application's helm chart (ex. litmus chaos) it's available so we pull like this ->
[code]

[2022-10-14 05:30] #239 closed